body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #ffffff;
    color: #000;
    text-align: center;
}

header {
    padding: 20px;
    border-bottom: 1px solid #eee;
}

.logo {
    width: 230px;
    height: auto;
}

.hero {
    padding: 40px 20px;
}

h1 {
    font-size: 30px;
    font-weight: bold;
}

p {
    font-size: 17px;
    color: #444;
}

.btn {
    display: inline-block;
    margin-top: 20px;
    padding: 12px 25px;
    background: #000;
    color: #fff;
    text-decoration: none;
    border-radius: 6px;
}

.products-section {
    padding: 30px;
}

.products-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    max-width: 500px;
    margin: auto;
}

.product {
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 10px;
}

.product h3 {
    margin-bottom: 10px;
}

.price {
    margin-top: 10px;
    display: block;
    font-size: 20px;
    font-weight: bold;
} 
